<header class="masthead">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in"><span>Bienvenido!</span></div>
            <div class="intro-heading text-uppercase"><span style="font-size: 45px;">Tu aplicación para asistencia Favorita</span></div>
            <a class="btn btn-warning text-white btn-xl text-uppercase js-scroll-trigger" role="button" href="signup">Registrate ya!</a>
        </div>
    </div>
</header>
<div class="card" id="services">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="text-uppercase section-heading">Servicios</h2>
                    <h3 class="text-muted section-subheading"><em>Estas son algunas de las funcionalidades que tendrá a su disposición</em><br><em>para ayudarle a usted a realizar una toma de asistencia agilizada</em><br><em>gracias a las maravillas de la tecnología que solo acá podrá encontrar.</em><br></h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-users fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Gestión Agíl</h4>
                    <p class="text-muted">No sufra más con la gestión del personal,<br>uAttendance le permite mantener un control limpio y ordenado para agilizar su<br>productividad, gracias a la aplicación del reconocimiento facial para la toma<br>de asistencia.<br></p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-laptop fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Diseño Responsivo</h4>
                    <p class="text-muted">uAttendance es una herramienta que gracias a su diseño completamente responsivo será capaz de ser igualmente productivo si trabaja<br>desde su móvil como si lo hiciera desde un ordenador.<br></p>
                </div>
                <div class="col-md-4"><span class="fa-stack fa-4x"><i class="fa fa-circle fa-stack-2x text-primary"></i><i class="fa fa-lock fa-stack-1x fa-inverse"></i></span>
                    <h4 class="section-heading">Web Security</h4>
                    <p class="text-muted">Sabemos la importancia que tiene para los<br>usuarios la información que manejan y es por eso por lo que se aplican solidos<br>protocolos para que la información este seguro dentro de nuestra aplicación como<br>lo es el inicio
                        de sesión mediante reconocimiento facial que le garantizara el<br>acceso únicamente a usted.<br></p>
                </div>
            </div>
        </div>
    </section>
</div>
<section id="team" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="https://serviciosfg.com/images/testimonial-5.png">
                    <h4>Rene Corona</h4>
                    <p class="text-muted">Desarrollador</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-sm-4">
                <div class="team-member"><img class="rounded-circle mx-auto" src="https://serviciosfg.com/images/testimonial-5.png">
                    <h4>Henry Galvez</h4>
                    <p class="text-muted">Desarollador</p>
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4"><span class="copyright">Copyright&nbsp;© uAttendance 2020</span></div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>