<div class="register-photo">
  <div class="form-container">
    <form novalidate [formGroup]="singupform">
      <h2 class="text-center">Registro</h2>
      <mat-form-field>
        <input matInput type="text" name="usuario" placeholder="Username" formControlName="username" />
        <mat-error *ngIf="formErrors.username">
          {{formErrors.username}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="password" placeholder="Password" formControlName="password" />
        <mat-error *ngIf="formErrors.password">
          {{formErrors.password}}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" name="password-repeat" placeholder="Repetir Password"
          formControlName="password1" />
        <mat-error *ngIf="formErrors.password1">
          {{formErrors.password1}}
        </mat-error>
      </mat-form-field>
      <div class="row">
        <div class="col-12 col-sm-4 offset-sm-1">
          <webcam [width]="240" [trigger]="triggerObservable" (imageCapture)="handleImage($event);"
            (initError)="handleInitError($event)"></webcam>
          Camara
        </div>
        <div class="col-12 col-sm-4 offset-sm-2" *ngIf="webcamImage">
          <img width="240" [src]="webcamImage.imageAsDataUrl" />
          Imagen Capturada
        </div>
        <div class="col-12 col-sm-6 offset-sm-3">
          <button type="button" class="btn btn-primary btn-block" (click)="triggerSnapshot();">Tomar Captura</button>
        </div>
      </div>
      <div class="form-group"><button class="btn btn-primary btn-block" type="submit" (click)="signup()"
          [disabled]="singupform.invalid && (singupform.controls['password'].value!=singupform.controls['password1'].value || (singupform.controls['password1'].value=='' && singupform.controls['password'].value==''))">Sign
          Up</button></div><a class="already" href="login">¿Ya tienes cuenta? Inicia
        sesion aqui</a>
    </form>
  </div>
</div>
